## .NET Specific
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/

## JetBrains Rider / IntelliJ Specific
.idea/
*.sln.iml

## User-specific files
*.user
*.userosscache
*.sln.docuser

## Visual Studio Specific
.vs/
.vs-*
[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.docuser

## Databases (Docker handles this, but ignore local MDF/LDF if any)
*.mdf
*.ldf
*.db-shm
*.db-wal

## OS Specific
.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.Local.json

## User Uploads
**/wwwroot/selfies/*
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
